@media (min-width: 360px) {
    #checkbox-menu {
        position: absolute;
        opacity: 0;
    }

    .menu__hamburguer--item {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;

    }

    .menu__hamburguer--item span {
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 30px;
        background: #926123;
        transition: 0.25s ease-in-out;
    }

    .menu__hamburguer--item span:nth-child(1) {
        top: 0;

    }

    .menu__hamburguer--item span:nth-child(2) {
        top: 8px;

    }

    .menu__hamburguer--item span:nth-child(3) {
        top: 16px;
    }

    #checkbox-menu:checked+.menu__hamburguer--item span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
    }

    #checkbox-menu:checked+.menu__hamburguer--item span:nth-child(2) {
        opacity: 0;
    }

    #checkbox-menu:checked+.menu__hamburguer--item span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
    }

}

@media (min-width: 1366px) {
    .hamburguer {
        display: none;
    }
}