@media (min-width: 360px) {
    .formulario__container {
        align-items: center;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        background: #9B876F;
        padding: 1rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .itens__container {
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        width: 90%;
    }
    
    .item__formulario {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    
    input {
        border: none;
        border-radius: 5px;
        height: 25px;
        margin-top: 5px;
        font-size: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    #mensagem{
        height: 100px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
    }
    
    .enviar {
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    
    .enviar__formulario {
        background: #FFFFFF;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000;
        font-size: 20px;
        font-weight: 700;
        margin: 1rem 0;
        width: 200px;
        height: 50px;
    }
}

@media (min-width: 1366px) {
    .formulario__container {
        align-items: center;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        background: #9B876F;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 3rem;
        padding: 1rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .itens__container {
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        width: 80%;
    }
    
    .item__formulario {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding-bottom: 1rem;
    }
    
    input {
        border: none;
        border-radius: 5px;
        height: 50px;
        margin-top: 5px;
        font-size: 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    #mensagem{
        height: 100px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
    }
    
    .enviar {
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    
    .enviar__formulario {
        background: #FFFFFF;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000;
        font-size: 24px;
        font-weight: 700;
        margin-top: 1rem;
        width: 263px;
        height: 60px;
    
    }
}