@media (min-width: 360px) {
    .rodape__container {
        display: flex;
        flex-direction: column;
        background: #D8C8AF;
        line-height: 30px;
        font-weight: 600;
        padding: 1em;
    }
    
    .rodape__container--texto {
        display: flex;
        flex-direction: column;
    }
    
    .rodape__texto--titulo{
        font-size: 16px;
    }
    
    .rodape__icone {
        display: flex;
        justify-content: space-around;
        padding: 1em;
    }
    
    .rodape__icone--imagem {
        width: 45px;
    }
    
    .rodape__direitos {
        color: #575757;
        font-size: 12px; 
        text-align: center;
    }
}

@media (min-width: 1366px) {
    .rodape__container {
        display: flex;
        flex-direction: column;
        background: #D8C8AF;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        padding: 2rem 10rem 1rem 10rem;
    }
    
    .rodape__container--texto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
    
    .rodape__texto--titulo{
        padding-bottom: 2rem;
    }
    
    .rodape__icone {
        display: flex;
    }
    
    .rodape__icone--imagem {
        padding-left: 2rem;
        width: 62px;
    }
    
    .rodape__direitos {
        color: #575757;
        font-size: 14px;
        text-align: center;
    }
}
